elasticsearch==7.8.1
email-validator==1.1.1
flask==1.1.2
flask-babel==1.0.0
flask-bootstrap==3.3.7.1
flask-httpauth==4.1.0
flask-login==0.5.0
flask-mail=0.9.1
flask-moment==0.10.0
flask-migrate==2.5.3
flask-sqlalchemy==2.4.4
flask-wtf==0.14.3
guess_language-spirit=0.5.3
psycopg2==2.8.5
pyjwt=1.7.1
python-dotenv==0.14.0
rq==1.5.0
requests==2.24.0